@import '../../scss/variables.scss';

.quiz-progress-bar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 3px;

  // display: grid;
  // align-items: center;
  display: flex;
  align-items: center;
  // grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-gap: .25rem;
  height: 36px;
  padding: 0.75rem;

  background-color: white;

  border: 1px solid #E0E0E7;
  width: max-content;

  &__step {
    border-radius: 50%;
    background-color: #E0E0E7;
    width: 8px;
    height: 8px;

    &--current {
      width: 12px;
      height: 12px;
      border: 1px solid #B1B1BA;
      // position: relative;

      // &::before {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   content: "";
      //   border-radius: .5rem;
      //   width: 33%;
      //   height: 100%;
      //   background-color: rgba(127, 198, 21, 1);
      // }
    }

    &--bad {
      background-color: #FF4F29;
    }

    &--neutral {
      background-color: #FCE40F;
    }

    &--good {
      background-color: #62BC4B;
    }

    &--passed {
      position: relative;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        border-radius: .5rem;
        // width: 100%;
        // height: 100%;
        background-color: rgba(127, 198, 21, 1);
      }
    }
  }
}