@import '../../scss/variables.scss';

.quiz-page {
  display: grid;
  grid-template-columns: 1fr;

  @media only screen and (min-width: $desktop) {
    min-height: 560px;
    grid-template-columns: repeat(2, 1fr);
  }

  &--advice-turn {
    display: flex;
    flex-direction: column-reverse;

    @media only screen and (min-width: $desktop) {
      display: grid;
    }
  }
}