@import '../../scss/variables.scss';

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 20px;

    @media only screen and (min-width: $smallTablet) {
      height: 28px;
    }
  }

}