@import '../../scss/variables.scss';

body {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/snow-mobile.svg');

  @media only screen and (min-width: $desktop) {
    background-image: url('../../assets/hero-background.svg');

  }

  // width: 100vw;
  // height: 100vh;
}

.hero {
  display: flex;

  justify-content: center;
  height: calc(100svh - 38px - 2rem);
  flex-direction: column-reverse;
  justify-content: flex-start;
  // position: absolute;
  // left: 0;
  // bottom: 64px;

  // width: 100%;


  @media only screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    display: grid;
    min-height: calc(100vh - 76px);
    justify-content: unset;
    // padding: 3.5rem 1rem 0 1rem;
    // position: static;
    // background-color: unset;
  }

  &__heading {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
    margin-bottom: 0.75rem;


    @media only screen and (min-width: $desktop) {
      line-height: 1.1;
      text-align: left;
      font-size: 3rem;
      margin-bottom: 1.5rem;

    }
  }

  &__subheading {
    // width: 578px;
    line-height: 1.4;
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
    text-align: center;

    br {
      display: none;
    }

    @media only screen and (min-width: $desktop) {
      text-align: left;
      margin-bottom: 2rem;
      line-height: 1.3;
      font-size: 1.25rem;

      br {
        display: block;
      }
    }


  }

  &__actions {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $desktop) {

      margin-bottom: 2rem;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;

    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: white;
    // background-color: green;
    height: fit-content;
    // justify-content: center;
    padding: 1.5rem 1rem 0;

    @media only screen and (min-width: $desktop) {
      padding: 0;
      border-radius: 0;
      background-color: unset;
      height: unset;
    }
  }

  &__right {

    // height: 50%;
    // width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

    height: calc(100% - 39px);

    img {
      max-height: 100%;
    }

    @media only screen and (min-width: $desktop) {
      height: unset;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

// .footer {
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }