@import '../../scss/variables.scss';

.header {
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: 24px;
  display: flex;
  align-items: center;

  &--minimized {
    justify-content: center;
  }

  &--maximized {
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);

    @media only screen and (min-width: $desktop) {
      background-color: unset;
      border-radius: unset;
      margin: unset;
      padding: 1.5rem 0rem;
    }
  }
}