@import '../../scss/variables.scss';

.ale {
  @media only screen and (min-width: $desktop) {
    display: flex;
    justify-content: center;
  }

  img {
    user-select: none;
  }

  &--answer-turn {
    display: none;

    @media only screen and (min-width: $desktop) {
      display: flex;
    }
  }


  &--advice-turn {
    height: 50%;
    width: 100%;

    @media only screen and (min-width: $desktop) {
      height: auto;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}