@import './normalize.scss';
@import './variables.scss';

@font-face {
  font-family: "SuisseIntl";
  src:
    url("../assets/fonts/Suisse Intl/SuisseIntl-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src:
    url("../assets/fonts/Suisse Intl/SuisseIntl-Medium.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SuisseIntl";
  src:
    url("../assets/fonts/Suisse Intl/SuisseIntl-Bold.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: SuisseIntl;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: unset;
  color: unset;
}

body {
  background-color: #B4CEFF;
}

.positive-body {
  min-height: 100dvh;
  background: linear-gradient(to top, #FFEE98 0%, #B4CEFF 50%);

  @media only screen and (min-width: $desktop) {
    background: linear-gradient(270deg, #FFEE98 0%, #B4CEFF 50%);
  }
}

.negative-body {
  min-height: 100dvh;
  background: linear-gradient(to top, #8E52D5 0%, #B4CEFF 50%);

  @media only screen and (min-width: $desktop) {
    background: linear-gradient(270deg, #8E52D5 0%, #B4CEFF 50%);
  }
}